<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/skeuos.css" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title><%= title %></title>
    <header>
      <h3><%= title %></h3>
    </header>
  </head>
  <body>
    <nav>
      <a href="">
        <button>ES</button>
      </a>
      <a href="">
        <button>EN</button>
      </a>
    </nav>
    <main>
      <h3><%= __('Bienvenido a') %> <%= title %></h3>
      <table class="paper">
        <thead>
          <tr>
            <th colspan="3"><%= __('Listado de Anuncios') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><%= __('Objeto') %></b></td>
            <td><b><%= __('Venta') %></b></td>
            <td><b><%= __('Precio') %></b></td>
          </tr>
          <% anuncios.forEach(anuncio => { %>
          <tr>
            <td><%= anuncio.nombre %></td>
            <td><%= anuncio.venta %></td>
            <td><%= anuncio.precio %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
